.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container{
    border: 1px solid #010101;
    padding: 50px 40px;
    border-radius: 8px;
    background: #212121;
}

.signup-form-control{
    width: 100%;
    height: 35px;
    background-color: #121212 !important;
    border: 0 !important;
    color: #f0f0f0 !important;
}

.sign-in-button, .sign-up-button{
    width: 100%;
    margin-top: 30px;
}

.labels-login{
    font-size: 20px;
}